@page "/MyVideos"

<h3>MyVideos</h3>

<Row>
    <Column ColumnSize="ColumnSize.Is7">
        <Alert style="height:1200%; background-color:lightskyblue"  Color="Color.Primary" Visible>
            <div>
                <h3>My Long Page</h3>
            </div>

            <div style="position:fixed; bottom:0; left:0; width:100%; background-color:pink">
                This is my footer
            </div>

        </Alert>
    </Column>
    <Column ColumnSize="ColumnSize.Is5">
        <Alert Color="Color.Secondary" Visible>
            Is4
        </Alert>
    </Column>
</Row>



@code {

}