@using VideomaticBlazor.Events;

<Addons Margin="Margin.Is2">
    <Addon AddonType="AddonType.Body">
        <TextEdit Placeholder="Search text..." 
                  @bind-Text="@SearchText" 
                  @onkeypress="@KeyboardEventHandler" />
    </Addon>
    <Addon AddonType="AddonType.End">
        <Button Color="Color.Secondary" @onclick=@PublishNotification>Search</Button>
    </Addon>
</Addons>

@code {
    [Parameter]
    public EventCallback<string> OnStartSearch { get; set; }

    public string SearchText { get; set; } = string.Empty;

    private async Task KeyboardEventHandler(KeyboardEventArgs e)
    {
        if (e.CtrlKey && e.Code == "Enter")
        {
            await PublishNotification();
            return;
        }

        SearchText += e.Key;
    }

    Task PublishNotification() => OnStartSearch.InvokeAsync(this.SearchText);    
}