@page "/importvideo"
@using Videomatic.Client;
@inject HttpClient HttpClient;

<PageTitle>Import Video</PageTitle>

@using System
@using System.IO
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging
@inject IWebHostEnvironment Environment

<h3>Upload YouTube Video</h3>

<EditForm Model="@_cmd" OnSubmit="@Import">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">URL: </label>
        <InputText @bind-Value="@_cmd.VideoUrl" placeholder="URL" style="width: 400px"/>
    </div>
    
    <button type="submit">Submit</button>
</EditForm>

<p>@_statusMessage</p>

@code {
    ImportVideoCommand _cmd = new();
    string _statusMessage = null;

    class ImportVideoCommandParams
    {
        public string VideoUrl { get; set; } = "https://www.youtube.com/watch?v=DDy7FrYbCrE";
    }

    async Task Import()
    {
        try
        {
            var client = new VideomaticClient("https://localhost:7108", HttpClient);
            await client.ImportVideoCommandAsync(_cmd);

            _statusMessage = $"Video imported at {DateTime.Now}!";
        }
        catch (Exception err)
        {
            _statusMessage = $"ERROR: {err}";
        }
    }
}